.hidden {
    color: transparent;
}

@font-face {
    font-family: 'SF Pixelate';
    font-style: normal;
    font-weight: 400;
    src: local('SF Pixelate'), url('https://fonts.cdnfonts.com/s/7402/SF Pixelate.woff') format('woff');
}

@font-face {
    font-family: 'SF Pixelate';
    font-style: normal;
    font-weight: 700;
    src: local('SF Pixelate'), url('https://fonts.cdnfonts.com/s/7402/SF Pixelate Bold.woff') format('woff');
}

body {
    background-color: #3C1742;
    color: white;
    font-family: 'SF Pixelate', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wordContainer {
    margin-top: 20px;
}
.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none;
}

.letter {
    margin: 0 7px;
    position: relative;
    text-align: center;
}

.letter::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    min-width: 12px;
}

#startButton {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #920d2a;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

#mobile {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #920d2a;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
}

#startButton:hover{
    background: #6C0E23;
}

#yourChoice {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #920d2a;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

#categorys {
    display: none;
}

.categoryButtons {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #920d2a;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.categoryButtons:hover {
    background: #6C0E23;
}

footer{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
}
footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: #920d2a;
}

#winner {
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    position: relative;
    display: inline-block;
    animation: animate 2s ease-in-out infinite; 
}

@keyframes animate {
    0% {
        transform: translateY(35px);

    }
    50% {
        transform: translateY(-35px);
    }
    100% {
        transform: translateY(35px);
    }
}

@media screen and (max-width: 480px) {
    .show-on-desktop {
      display: none;
    }
  }
  
  @media screen and (min-width: 481px) {
    .hide-on-desktop {
      display: none;
    }
  }
